nav#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 10;
  overflow: hidden;
}

nav#navbar ul li {
  float: left;
  margin: 0 15px;
}

nav#navbar ul li a {
  display: block;
  background-color: red;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 160px;

  padding: 10px 0px 8px 0px;
  border-radius: 4px;
}

nav#navbar ul li a:hover {
	background-color: #800;
	color: yellow;
	border-radius: 20px;
}
