.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;  
}

nav#main-navbar{
  background-color: grey;
  
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
}

nav#main-navbar ul {
  list-style-type: none;
  background: grey;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

nav#main-navbar ul li {
  float: left;
  margin: 20px;
  
}

nav#main-navbar ul li a {
  
  display: block;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 200px;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
}

nav#main-navbar ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

