body {
background: rgb(215,215,225);
background: linear-gradient(90deg, rgba(215,215,225,1) 0%, rgba(96,89,89,0.41507941067051823) 100%);	

}

#title{
  font-family: 'Lato', sans-serif;
  font-size: 96px;
  border-radius: 10px;
  padding-bottom: 40px;
  text-align: center;
}

nav#main-navbar{
  background: rgb(28,12,38);
  background: linear-gradient(90deg, rgba(28,12,38,1) 0%, rgba(59,61,92,1) 50%, rgba(94,84,70,1) 100%);
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
}

nav#main-navbar ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

nav#main-navbar ul li {
  float: left;
  margin: 20px;
}

nav#main-navbar ul li a {
  
  display: block;
  background: rgb(123,117,187);
  background: linear-gradient(90deg, rgba(123,117,187,1) 0%, rgba(224,141,7,1) 100%);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 200px;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
}

nav#main-navbar ul li a:hover {
  background: white;
  color: black;
  border-radius: 20px;
  
}

#fixedwrapper {
  width: 960px;
  margin: 0 auto;
  border: 10px solid black;
  margin-top: 10px;
  padding-top: 20px;
}

#images {
  float: left;
  width: 400px;
  margin: 0 20px 0 0;
  
}

#main {
  float: left;
  width: 500px;
  margin: 0 20px 0 0;
  
}

#main p {
  float: left;
  width: 500px;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  
}

#bspacer1 {
  padding-top: 220px;

}

#bspacer2 {
  padding-top: 400px;
}

#bspacer3 {
  padding-top: 270px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  text-align: center;
  
}

